@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-button/src/button.scss";
@import "../static/demo/atom-one-dark.css";

.u-row {
  padding-right: 20px;
  padding-left: 20px;
}

.demoPadding {
  button {
    margin: auto 5px;
  }
  .divider {
    margin: 6px 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
}

.demo2 {
  padding: 20px;
  .initForm {
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    .headerTitle {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 20px;
      text-align: center;
      .headerAction {
        float: right;
        margin-top: -30px;
        button {
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }
    .tableMin {
      border: none;
      table-layout: fixed;
      width: 100%;
      .u-input-group-btn {
        top: 7px;
      }
      .textSty {
        height: 50px;
        top: 4px;
      }
      .trHead {
        background-color: #dbddde5c;
      }
      th {
        height: 35px;
      }
      td {
        text-align: center;
        height: 35px;
      }
      .rightTd {
        text-align: right;
        padding-right: 10px;
      }
      .leftTd {
        text-align: left;
        padding-left: 10px;
      }
    }
  }
}
